@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

.anchor__link{
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.anchor__link:hover{
    color:#6600FF;
}

.purple-bg{
    color: #fff;
    background: linear-gradient( -90deg, #FF3366,  #6600FF 90%);
}

.dark-bg{
    background-color: #000;
    color: #fff;
}

.dark-ligh-bg{
    background-color:#191c1f;
    color: #fff;
}

.color-white{
    color: #fff;
}

.color-dark{
    color: #000;
}

.color-dark-light{
    color: #191c1f;
}

.banner{
    height: 40vh;
}

.banner__opacity{
    background-color:  rgb(0,0,0,0.6);
}

.banner img{
    width: 100%;
    height: 40vh;
}

.bg-purple{
    background: linear-gradient( -90deg, #FF3366,  #6600FF 90%);
}
