$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

body{
    font-family: 'Montserrat', sans-serif;
    .font-weight {
        font-weight: $font-weight-extra-light;
        &-light {
            font-weight: $font-weight-light;
        }
        &-regular {
            font-weight: $font-weight-regular;
        }
        &-medium {
            font-weight: $font-weight-medium;
        }
        &-semi-bold {
            font-weight: $font-weight-semi-bold;
        }
        &-bold {
            font-weight: $font-weight-bold;
        }
        &-extra-bold {
            font-weight: $font-weight-extra-bold;
        }
        &-black {
            font-weight: $font-weight-black;
        }
    }
}

i{
    font-size: 29px;
}

.margin-top-70{
    margin-top: 70px;
}

.container-fluid{
    overflow: hidden;
}

.banner{
    height: 63vh;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0,0.6);
      
    }

    & img{
        width: 100%;
        height: 63vh;
    }
}


.banner-body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bg-purple{
    background: linear-gradient( -70deg, $color-pink,  $color-purple 55%);
}

.color-purple{
    color: $color-purple;
    &:hover{
        color: $color-pink;
    }
}

.btn-purple{
    background-color: $color-purple;
    color: $color-white;
    transition: all 0.5s;
    &:hover{
        background-color: $color-pink;
        color: $color-white;
    }
}

.bg-dark-bold{
    background-color: $color-dark;
}

.genero{
    position: relative;
    overflow: hidden;

    .genero-body {
        position: absolute;
        top: -100%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0,0.8);
        color: $color-white;
        transition: all 0.5s;
    }

    @media all and ( min-width:780px ){
        &:hover .genero-body{
            left: 0%;
            top: 0%;
            color: $color-white;
        }
    }
}

.card{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: all;

    @media all and ( min-width:780px ){
        &:hover{
            transform: scale(1.1);
            position: relative;
            z-index: 1;
            margin: 1px;
        }
    }
}

.zoom{
    animation-name: zoom;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;    
}

@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


