body{
    font-family: 'Montserrat', sans-serif;   
    @each $c, $v in $font-weights{

        @if $v == 200{
            .font-weight{
                font-weight: $v;
            }
        } @else{
            .font-weight-#{""+$c}{
                font-weight: $v;
            }
        }
    }

}

i{
    font-size: 29px;
}

.margin-top-70{
    margin-top: 70px;
}

.bg-purple{
    background: linear-gradient( -70deg, $color-pink,  $color-purple 55%);
}

.color-purple{
    color: $color-purple;
    &:hover{
        color: $color-pink;
    }
}

.btn-purple{
    @extend %transition;
    background-color: $color-purple;
    color: $color-white;
    &:hover{
        background-color: $color-pink;
        color: $color-white;
    }
}

.bg-dark-bold{
    background-color: $color-dark;
}






