$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

body{
    font-family: 'Montserrat', sans-serif;
    .font-weight {
        font-weight: $font-weight-extra-light;
        &-light {
            font-weight: $font-weight-light;
        }
        &-regular {
            font-weight: $font-weight-regular;
        }
        &-medium {
            font-weight: $font-weight-medium;
        }
        &-semi-bold {
            font-weight: $font-weight-semi-bold;
        }
        &-bold {
            font-weight: $font-weight-bold;
        }
        &-extra-bold {
            font-weight: $font-weight-extra-bold;
        }
        &-black {
            font-weight: $font-weight-black;
        }
    }
}

i{
    font-size: 29px;
}

.margin-top-70{
    margin-top: 70px;
}

.bg-purple{
    background: linear-gradient( -70deg, $color-pink,  $color-purple 55%);
}

.color-purple{
    color: $color-purple;
    &:hover{
        color: $color-pink;
    }
}

.btn-purple{
    background-color: $color-purple;
    color: $color-white;
    transition: all 0.5s;
    &:hover{
        background-color: $color-pink;
        color: $color-white;
    }
}

.bg-dark-bold{
    background-color: $color-dark;
}






